body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    background: #f5f5f5;
}
.formulario input{
    padding: 8px;
    margin: 5px
}
button{
    padding: 8px 12px;
    cursor: pointer;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}

.card{
    background: white;
    padding: 16px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 8px rgba(0, 0, 0, 0.1);
}